@media only screen and (max-width: 552px) {
    .asdojfs-aswusa{
        transform:rotate(
            0deg
            );
    }
    .nidsha-e39uadr3 {
        padding:50px 0px;
    }
 .h23iasfwe2323{
     padding:0px;
 }
 .ioia0ueaw0we-asd3 h5{
    font-size: 57px;
    
        }
        .ioia0ueaw0we-asd3 h4{
            font-size: 24px;

        }
        .djsdiaw-wr-1,.djsdiaw-wr{
            margin-left:0px;
        }
 .yhiw9e33d{
    max-width: 300px!important;
 }
 .oihioajwe9cqw123
 {
     position: initial!important;
     margin-top: 0px;
 }
 .misa9dsr{
    margin-right: 0px ;
    flex-direction: column;
 }
 .asdjalsd-sadjiw{
     margin-left: 0px!important;
 }
 .ih9qweqwncsae{
     position: initial;
 }
 .asnasijweiasfbs-nau-1{
     flex-direction: column;
     margin-left: 10px;
 }
 .jaiodfie9r23{
     max-width: 100%!important;
     margin-left: 0px
 }
 .ii29sna2hds922d{
    height: 250px;
 }
 .oihioajwe9cqw{
    position:initial;
    top:0px;
    margin:10px 0px;
 }
 .asfh92jasdert-2131 {
    position: initial;
    margin-top: -32px;
}
 .ihasf937ds3h3{
     position: initial;
 }
    .aslfjawe9irjeasih1,.asn9woewa092ojkaskd h2 ,.skdfneefecs,.oojqwhq-uduasd,.sdfjeirere-21712,.aslfjawe9irjeasi h1,.aslfjawe9irjeasi p{
       font-size: 12vw!important;
   }
   .asn9woewa092ojkaskd{
       flex-direction: column;
   }
   .sdfjeirere{
       text-align: center!important;
   }

   .sdfjeirere-21712
   {
       margin-right: 0px!important;
   }
   .jioasoiwwdd
   {
    max-width: 130px;
    margin-top: 69px;
   }
    .sdfajiow39weiwxyz img{
    max-width: 300px;
   }
    .oj910wsadwe-21sa::after{
        left: 0px;
    }
    .dtruxfgf{
        font-size: 40px;
        text-align: center;
    }
    .weisfng{
        font-size: 50px;
        text-align: center;
    }
    .xkdnidr213
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .iiwefhefsw3 {
        line-height: 38px;
    }
    .ojhasd9q1{
        top: -92px;
    }
    .nsareur h2{
        text-align: center;
    }
    .iwje9we023{
        margin-left: 0px;
    }
    .iahsdoasjne{
        flex-direction: column;
    }
    .czxbvdsuf h2{
font-size: 36px;
    }
    .asdfdsakhasiddeg img{
        top: 0;
        max-width: 272px;
    }
    .nasdfiwnf1 {
        font-size: 43px;
    line-height: 44px;
    }
    .czxbvdsuf{
        margin-left:0px ;
    }
    .ndirerer21{
        flex-direction: column;
    }
    .ndirerer21 a{
        border: none;
    }
    .jaskdawe23{
        justify-content: center!important;
    }
.ijasdiiaw{    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}
.ft-img{
    display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

    .iahsdoasjne{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .jdiserifd{
        flex-direction: column;
    align-items: center;
    }
  .zxehdfkr{
      text-align: center;
      top: 0;
  }
  .asd92jasdias212 {
    max-width: 275px;
  }
  .sdankfdjefd img,.sdankfdjefd11 img{
    
        display: none;
  }
  .sdankfdjefd{
    justify-content: center;
  }
  .saasdiwnsf{
    right: 0;
    left: 0;
  }
  .sdfajiow39weiw1 img {
    max-width: 314px;
}
  .sdfajiow39weiw img{
    max-width: 259px;
  }
  .skd-sdjfe{
    line-height: 69px!important;
  }
  .klgjt{
    width: 100%;
  }
  .nsdjfrihf{
      margin-left: 0px;
  }
  .asdhiferr{
      flex-direction: column;
  }
  .sdfjdecdr
  {
      margin-top: 10px;
  }
  .sajdiawewsawr{
   width: 250px;
   height: 250px!important;

  }
  .asjdiwefer{
    min-width:300px
  }
  .asdhiferrsdf{
      padding: 5px;
  }
  .xkdnidr11sds .d-flex,.xkdnidr11 .d-flex{
    flex-direction: column;
    padding: 10px 0px;
  }
  .asfh92jasdert 
  {
      height:261px ;
  }
  .xcnvjrusdf{
      text-align: center;
  }
  .jadsre9cjm{
      flex-direction: column;
  }
    .znxiwebwwf p{
       text-align: center;
   }
   .asdnfsdi {
    width: 95%;
    height: 50vw;
   }
   .asnasijweiasfbs{
       flex-direction: column;
   }
    .ariothge
   {
       left: 0;   }
    .asd92jasdias2{
        max-width: 295px!important;
    }
    .sadhee{
        max-width: 100%;
    }
    .zxnvuer
    {
        flex-direction: column;
    }
    .xjfudfsdi{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 37px;
    }
    .xjfudfsdi h1{
        text-align: left;
    }
    .nsdairejrog1sd
    {
        width: 100%;
    }
    .nvksjer
    {
        position: initial;
    }
    .xkdnidr{
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }
    .nsdfjuce .d-flex{
        width: 100%;
        margin: auto;
        max-width: 224px;
    }
    .nadfmnrueyr{
        display: none;
    }
    .qjsdifef
    {
        max-height: 180px;
    margin: auto;
    }
    .msdjnjeber{
        flex-direction: column;
        align-items: center;
    }
    .nsareur{
        position: relative;
    top: -106px;
    }
    .asndfiwhsefgg{
        height: 100%;
        
    }
    .nsdairejrog
    {
        margin-bottom: 50px;
    }
    .nakskfawjrojasfg{
        flex-direction: column;
    }
    .nsdairejrog img {
            display: none;
    }

    .asnasijweiasfbs-nau{
        margin-left: 0px;
    }
    .xjfudfsdi1 h1{
        text-align: left;
    }
    .asfnsoirr3-23{
        margin-top: 0px;

    }
    .sdnserr{
        margin-left: 0px;
    }
    .serhuisdfg{
        justify-content: center!important;
    }
    .nidaseeb {
        width: 95vw;
    }
    .nsdouwewncdr2{
        flex-direction: column;
        align-items: center;
    }
    .nicasehrcnd{
        height: 100vw;
    }
    .ojsoeerr{
        width: 110px;
        margin-top: 20%;
    }
    .nkasjuwrk h1{
        font-size: 30px;
        
    line-height: 40px;
    }
    .nais3or9der h1{
        font-size: 40px;
    }
    .uabsnuje p{
        line-height: 34px;
    }
}
@media only screen and (max-width: 768px) {
    .jfdosa-sais89sd{
        flex-direction: column;
    }
    .bg-contact{
        background-image: none;
        flex-direction: column;
        align-items: center;
    }
    .w-50p{
        width: 100%;
    }
    .asdojfs-aswusa
    {
        max-width: 485px;
        padding: 10px 10px;
    }
    .oiouqw-eqwdsw{
        margin-right: 10px;
    }
    .ojasd0-39uhs2s1{
        justify-content: center;
    }
    .niasdf-3erhasf{
        margin-left: 0px;
        margin-top: 50px;
    }
    .nisdafosj-429se{
        margin-top: 50px;
        right: 0px
    }
    .nsdavosdf-ewjosie{
        flex-direction: column;
    }
    .ndirerer21{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    }
    .isndfijsnerv 
    {
        max-width: 278px;
        margin: 42px 0px;
    }
    .ansfsioe
    {
        flex-direction: column;
    }
    .iwje9we023

    {
        width: 95vw;
    }
    .nakskfawjrojasfg{
        flex-direction: column;
    }
 .nalsdfasf{
     flex-direction: column;
 }
 .ojsoeerr
 {
     margin-top: 10%;
 }
    .asfidko30iskd p{
            padding: 10px;
    }
    .asnasijweiasfbs-nau{
        flex-direction: column;
    }
 .ssjddnserr{
     flex-direction: column;
 }
    .nisetje{
width: 60%;
    }
 
    .sadhee{
        margin:auto;
    }
    .sdnserr
    {
        flex-direction: column;
    }
    .cmdsfnief{
     flex-direction: column;
 }
 .asjdiwefer{
    height: 213px;
 }
    .czxbvdsuf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
 }
    .snafjrjifjg .row .col-md-6
 {
     width: 100%;
 }
 .snafjrjifjg .row
 {
     flex-direction: column;
     justify-content: center;
 }
    .klgjt{
      justify-content: center;
  }
    .rithsreg{
      margin-top: 20px;
  }
    .hdsjaferur{
        flex-direction: column;
    }
    .asdfidjer-sd{
    height:45vw
}
.jeure{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 21px;   
}
.as920icjsfsadw{
    position:initial
}
.amzxcwoea0
{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    display: flex;
    max-width: 228px;
    align-items: center;
}
}
@media only screen and (max-width: 991px) {
    .sajdiawewsawr{
        top: 0px;
        margin-bottom: 10px;
        margin: auto;
        max-width: 483px;
        height: 361px;
    }
    .asjdiswjecsd{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ksdjiekfdf
    {
        width: 100%;
    }
.sheduewe2{
    flex-direction: column;
}
.sdeirjeoirf{
    margin: 0px;
}
.asdh83udashn3e{
margin: 0px!important;
}
.sdfajiow39 img{
    width: 100%;
    max-width: 300px;
    margin: auto;
}
.xkdnidr11{
    padding: 0px 11px;
}
.asn9woewa092ojkaskd{
    justify-content: center;
}
.cont {
    max-width: 845px;
}
.asfmsrh9wasf{
flex-direction: column;
}
.sdfajiow39{
    justify-content: center;
    align-items: center;
    display: flex;

}
}
@media only screen and (max-width: 1024px) {
    .ndsfd-wead23113-123{
        margin-left: 0px;
    }
    .ndsfd-wead23113{
        max-width: 400px;
    }
    .ndsfd-wead23113-123-1{
        margin-right: 0px;
    }
    .ndvsias-fsde3{
        text-align: center;
    }
    .ndvsias-fsde3-1{
        text-align: center;
    }
    .isdfds-e2asdsd{
        justify-content: flex-start;
    }
    .nkdsife-wqej21{
        margin-top: 48px;
    }
    .asj9awirjfsdfdge123{
        margin-right: 0px!important;
    }
    .oihioajwe9cqw123{
        max-width: 408px;
        padding:20px;
        max-height: 408px;
        position: initial;
    }
    .asd92jasdias2{
        max-width: 400px;
    }
    .ft-img img{
        margin-bottom: 10px;
    }
    .icsnifndisfs{
        flex-direction: column;
    }
    .nisdfsdhdif{
        margin: 10px 0px;
    }
    .sdfjeirere{
        margin: 0px!important;
    }
    .ndirerer2{
        display: none;
    }
    
    .as920icjsfsadw{
        max-width: 116px;
    max-height: 116px;
    }
    .naskerer{
        flex-direction: column;
    }
    .isamfsf{
flex-direction: column;
    }
    .dsfhkuer{
        text-align: center;
    }
    .nsdairejrog1sd{
        flex-direction: column;
        }
 .asn9woewa092ojkaskd img{
        max-width: 153px;;
 }   
 .asdh83udashn3e{
     align-items: center;
     margin-top: 30%!important;
 }
}
@media only screen and (max-width: 425px) {
    .asdaskdjas83he
    {
        padding: 10px 60px;
    }
    .asjd9jeaosdih h1 {
    text-align: center;
    font-size: 32px;
    }
    .asjd9jeaosdih h2 {
        text-align: center;
        font-size: 22px;
        }
  }

 